html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(rgba(237 231 255), navajowhite);
  margin: auto;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

nav {
  background-color: #f1f1f1;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 50px;
}
a {
  text-decoration: none;
  color: black;
}

.btn-to-projects {
  border: solid black;
  border-radius: 20%;
  width: fit-content;
}

.btn-to-projects:hover {
  background-color: black;
  color: whitesmoke;
}

.logo-title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.blog-logo {
  display: flex;
}

.logo {
  max-width: 7vw;
}

.blog-title > h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: fantasy;
  font-size: 7vw;
}

.wellbeing-image {
  width: auto;
  border-radius: 10%;
  margin-right: 10px;
}

.problem-solving-images {
  width: auto;
  max-width: 800px;
  margin-right: 10px;
  border-radius: 0;
}

.image-tag {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: smaller;
}

.dom-tree-example {
  width: 100%;
  border-radius: 0;
}

.blog-menu > ul {
  /*creates the menu contaier*/
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  list-style-type: none;
  position: absolute;
  display: flex;
  align-items: center;
}

.blog-menu > ul > li {
  /*creates a space between list items*/
  margin-right: 8px;
  padding-left: 5px;
}

.blog-menu > ul > li:hover {
  /*creates a different style when hovering*/
  text-decoration: underline;
}

.post-image-1 {
  width: 100px;
  border-radius: 20%;
  margin-right: 10px;
}

.project-cointainer {
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-between; */
  /* align-items: flex-start; */
}

.project {
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: flex-start;
}

.project-image {
  display: flex;
  justify-items: center;
  max-height: fit-content;
  margin: 2px;
  justify-content: space-around;
}

.project-description {
  /* display: flex; */
  width: auto;
  margin: 0px 0px 2px 2px;
  padding-left: 0;
  line-height: 2;
  /* align-items: flex-start; */
}

.project-image {
  max-height: 350px;
  max-width: 350px;
}

.post-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer {
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 50px;
  display: flex;
  margin-top: 10px;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
}

p,
h2,
h3 {
  max-width: 800px;
}
p {
  text-align: justify;
  padding: 10px;
}

.comparison-eq-iq {
  display: flex;
}

.comparison-block {
  border: 1px solid;
  border-radius: 9px;
  box-shadow: 5px 5px 0 #535050;
  vertical-align: baseline;
  flex-basis: 50%;
  margin: 0 0.55rem;
  padding: 1rem 1rem 0.5rem;
}

.comparison-block-eq,
.comparison-block-iq {
  font-weight: bold;
}

.comparison-list {
  list-style-type: disc;
}

.eq-iq-link {
  text-decoration: underline;
  color: blue;
}

.code-block {
  background-color: #f1f1f1;
  border: 1px solid;
  border-radius: 9px;
  box-shadow: 5px 5px 0 #535050;
  max-width: 800px;
  text-wrap: wrap;
  padding: 3px;
}

.test-button1,
.test-button2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3px;
}

.function-list {
  max-width: 800px;
  margin-right: 27px;
}

.function-list > li {
  padding-bottom: 5px;
}

#neuroplasticity-link {
  text-decoration: underline;
}

#neuroplasticity-link:hover {
  background-color: black;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}
.post-link {
  margin: 5px;
  display: flex;
}
.post-link:hover {
  background-color: black;
  color: whitesmoke;
}

table tr td,
table tr th {
  border: 1px solid #ccc;
  margin: 0;
  padding: 6px 13px;
  text-align: left;
}

.post-link-home:hover {
  background-color: black;
  color: whitesmoke;
}
