html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: navajowhite;
  margin: auto;
  /* margin-left: 5px;
  margin-right: 5px; */
  padding: 10px;
  /* min-height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

nav {
  background-color: #f1f1f1;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 50px;

  /* position: absolute; */
  /* @media (min-width: 600px) {
    padding: 10px;
  } */
}
a {
  /* position: absolute; */
  text-decoration: none;
  color: black;
}

.logo-title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* @media (min-width: 400px) {
  .flex-container {
    flex-direction: column;
  }
  .blog-menu {
    flex-direction: column;
  }
} */

img {
  width: 15vw;
  border-radius: 50%;
  margin-right: 10px;
}

.wellbeing-image {
  width: auto;
  border-radius: 10%;
  margin-right: 10px;
}

.problem-solving-images {
  width: auto;
  max-width: 800px;
  margin-right: 10px;
  border-radius: 0;
}

.image-tag {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: smaller;
}

.dom-tree-example {
  width: 100%;
  border-radius: 0;
}

.blog-title > h1 {
  font-family: fantasy;
  font-size: 7vw;
}

/* .blog-menu {
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 50px;
  display: flex;
} */

.blog-menu > ul {
  /*creates the menu contaier*/
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  list-style-type: none;
  /* font-family: fantasy; */
  position: absolute;
  display: flex;
  align-items: center;
}

.blog-menu > ul > li {
  /*creates a space between list items*/
  margin-right: 8px;
  padding-left: 5px;
}

.blog-menu > ul > li:hover {
  /*creates a different style when hovering*/
  text-decoration: underline;
}

/* .subscribe-right {
  justify-content: flex-end;
} */

.post-image-1 {
  width: 100px;
  border-radius: 20%;
  margin-right: 10px;
}

.post-image-cointainer {
  display: flex;
}

.post-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer {
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 50px;
  display: flex;
  margin-top: 10px;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
}

/* .links-to-pages > a {
  background-color: #f1f1f1;

  margin: 0px;
  padding: 15px;
  padding-left: 5px;
  font-size: 16px;
  font-family: fantasy;
  text-decoration: none;
} */

p,
h2,
h3 {
  max-width: 800px;
}
p {
  text-align: justify;
  padding: 10px;
}

.comparison-eq-iq {
  display: flex;
}

.comparison-block {
  border: 1px solid;
  border-radius: 9px;
  box-shadow: 5px 5px 0 #535050;
  vertical-align: baseline;
  flex-basis: 50%;
  margin: 0 0.55rem;
  padding: 1rem 1rem 0.5rem;
}

.comparison-block-eq,
.comparison-block-iq {
  font-weight: bold;
}

.comparison-list {
  list-style-type: disc;
}

.eq-iq-link {
  text-decoration: underline;
  color: blue;
}

.code-block {
  background-color: #f1f1f1;
  border: 1px solid;
  border-radius: 9px;
  box-shadow: 5px 5px 0 #535050;
  max-width: 800px;
  text-wrap: wrap;
  padding: 3px;
}

.test-button1,
.test-button2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3px;
}

.function-list {
  max-width: 800px;
  margin-right: 27px;
}

.function-list > li {
  padding-bottom: 5px;
}

#neuroplasticity-link {
  text-decoration: underline;
}

#neuroplasticity-link:hover {
  background-color: black;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}
.post-link {
  margin: 5px;
  display: flex;
}
.post-link:hover {
  background-color: black;
  color: whitesmoke;
}

table tr td,
table tr th {
  border: 1px solid #ccc;
  margin: 0;
  padding: 6px 13px;
  text-align: left;
}

.post-link-home:hover {
  background-color: black;
  color: whitesmoke;
}
